PORT=5000
MONGODB_URI=mongodb+srv://rushmanth:rushmanth@cluster0.pvxunlq.mongodb.net/?appName=Cluster0
JWT_SECRET=ThBcXdcmLnjV9xOJkcv8BuQeYrZdXRKRj2dZE8VKM3yLkjd7vp5EELEUdM8V17Oj
FRONTEND_ORIGINS=http://localhost:5173,http://localhost:8080,http://localhost:8081,https://rushmanthnalluri.github.io,https://<your-custom-domain>
ALLOW_MEMORY_FALLBACK=true
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM=no-reply@yourdomain.com
